.artwork-meta .pid_link a,
.artwork-meta .caption a,
.user_link a
  &:hover
    text-decoration underline

.svg-icon
  color #FFB11B

.custom_theme
  ::-webkit-scrollbar-thumb
    background var(--accent-color)

  .svg-icon,
  .setting .app-title,
  .swiper-button-prev, .swiper-button-next,
  .van-button.van-dialog__confirm,
  .Home .home-title .app-title
    color var(--accent-color)

  .novel-card .series,
  #app .artwork-meta .series a,
  #app .artwork-meta .date .view,
  #app .artwork-meta .date .like,
  #app .artwork-meta .date .svg-icon,
  #app .artwork-meta .tag-list,
  .nav-bar .svg-icon.active,
  .nav-bar .svg-icon.active + span,
  .van-dropdown-menu__title--active,
  .van-dropdown-item__option--active,
  .van-dropdown-item__option--active .van-dropdown-item__icon,
  .van-calendar__day--middle,
  .van-dialog__cancel[style*="color:"]
    color var(--accent-color) !important

  .back_to_top,
  .van-tabs__line,
  #app .follow_btn.isFollowed .van-button,
  .search .search-bar-wrap .search-bar-word .word,
  .user-container .user-tabs .van-tag--mark,
  .van-calendar__day--end,
  .van-calendar__day--multiple-middle,
  .van-calendar__day--multiple-selected,
  .van-calendar__day--start,
  .van-calendar__day--start-end,
  .van-calendar__selected-day,
  #app .nav a.cur
    background var(--accent-color) !important

  .com_sel_tab.cur,
  .van-slider__bar,
  .Following .van-tab--active .van-tab__text
    background var(--accent-color)

  #nprogress .bar
    background-color: var(--accent-color)

  .van-radio__icon--checked .van-icon,
  .van-calendar__confirm.van-button,
  .setting-page .van-cell .van-button,
  #app .setting-page .van-switch--on
    background var(--accent-color) !important
    border-color var(--accent-color) !important

  .van-button--plain
    color var(--accent-color) !important
    border-color var(--accent-color) !important

  .app-main:has(.live_detail)
    border-color var(--accent-color) !important

  #app .artwork-meta .tag-list .tag:not(.translated):hover
    background transparent
    text-decoration underline

  .setting .app-title
    img
      display none
    &-desc
      position relative
      padding-left 1.2rem
      &::before
        content ''
        position absolute
        top 50%
        left 0
        width: 0.9rem
        height: 0.9rem
        transform translateY(-50%)

  .setting:has(.user_data)
    .app-title-desc
      padding-left 0
      &::before
        display none

  .Home .home-title
    &::before
      content ''
      position absolute
      top 50%
      left 0
      width: 0.8rem
      height: 0.8rem
      transform translateY(-50%)
    .app-logo
      display none
    .app-title
      position relative
      padding-left 0.9rem

  .image-card .bookmark
    padding 0.12rem !important
    filter none !important
    background: rgba(0,0,0,.3)
    backdrop-filter: blur(10px)
    border-top-left-radius 0.2rem
    .van-icon
      color var(--accent-color) !important

  #app .rank .top .calendar
    background-image: url('~@/assets/images/calendar_op0.png')
    .date
      color var(--accent-color)

  @media screen and (max-width: 500px)
    .app-main:has(.setting-page)
      border-top 4PX solid var(--accent-color)




.t_Anon
  --accent-color #ff8899
  .com_sel_tab.cur
    color #fff
  .setting .app-title-desc::before,
  .Home .home-title::before
    background url("https://upload-bbs.miyoushe.com/upload/2024/04/16/190122060/32106f9522e4b98c27249f35d3958868_8413347470642025982.png") no-repeat center / contain
  #app .nav a.cur,
  .user-container .user-tabs .van-tag--mark,
  .search .search-bar-wrap .search-bar-word .word,
  .Following .van-tab--active .van-tab__text
    color #fefefe !important
  .search .search-bar-wrap .search-bar-word .word .text
    border-color #fefefe !important

.t_Soyo
  --accent-color darken(#FFDD88, 20%)
  .setting .app-title-desc::before,
  .Home .home-title::before
    background url("https://upload-bbs.miyoushe.com/upload/2024/04/17/190122060/212be2d3f873cfea44529289d4c85cc2_4715623065945558825.png") no-repeat center / contain
  #app .nav a.cur,
  .user-container .user-tabs .van-tag--mark,
  .search .search-bar-wrap .search-bar-word .word,
  .Following .van-tab--active .van-tab__text
    color #333 !important
  .search .search-bar-wrap .search-bar-word .word .text
    border-color #fefefe !important
  #app .artwork-meta .tag-list .tag
    text-shadow 1PX 1PX rgba(0,0,0,0.1)

.t_Taki
  --accent-color #7777AA
  .com_sel_tab.cur
    color #fff
  .setting .app-title-desc::before,
  .Home .home-title::before
    background url("https://upload-bbs.miyoushe.com/upload/2024/04/17/190122060/c05edb58641b2622bdd6d9c0b6553394_5979670341200237354.png") no-repeat center / contain
  #app .nav a.cur,
  .user-container .user-tabs .van-tag--mark,
  .search .search-bar-wrap .search-bar-word .word,
  .Following .van-tab--active .van-tab__text
    color #fefefe !important
  .search .search-bar-wrap .search-bar-word .word .text
    border-color #fefefe !important

.t_Tomori
  --accent-color #77BBDD
  .setting .app-title-desc::before,
  .Home .home-title::before
    background url("https://upload-bbs.miyoushe.com/upload/2024/04/17/190122060/32ef5e5e1cf7f5fc9b9c223fbf9f2712_3178960435287605206.png") no-repeat center / contain
  #app .nav a.cur,
  .user-container .user-tabs .van-tag--mark,
  .search .search-bar-wrap .search-bar-word .word,
  .Following .van-tab--active .van-tab__text
    color #333 !important
  .search .search-bar-wrap .search-bar-word .word .text
    border-color #fefefe !important
  #app .artwork-meta .tag-list .tag
    font-weight 600
    text-shadow 1PX 1PX rgba(0,0,0,0.01)

.t_Rana
  --accent-color #77DD77
  .setting .app-title-desc::before,
  .Home .home-title::before
    background url("https://upload-bbs.miyoushe.com/upload/2024/04/17/190122060/7535cd28469e887d37e3a5139d2894fa_8353360825500089988.png") no-repeat center / contain
  #app .nav a.cur,
  .user-container .user-tabs .van-tag--mark,
  .search .search-bar-wrap .search-bar-word .word,
  .Following .van-tab--active .van-tab__text
    color #333 !important
  .search .search-bar-wrap .search-bar-word .word .text
    border-color #fefefe !important
  #app .artwork-meta .tag-list .tag
    font-weight bold
    text-shadow 1PX 1PX rgba(0,0,0,0.05)

.t_MyGO
  --accent-color #3388BB
  .com_sel_tab.cur
    color #fff
  .setting
    .app-title img
      display inline-block
    .app-title-desc
      padding-left 0
      &::before
        display none
  .Home .home-title
    .app-title
      padding-left 0
    .app-logo
      display inline-block
    &::before
      display none
  #app .nav a.cur,
  .user-container .user-tabs .van-tag--mark,
  .search .search-bar-wrap .search-bar-word .word,
  .Following .van-tab--active .van-tab__text
    color #fefefe !important
  .search .search-bar-wrap .search-bar-word .word .text
    border-color #fefefe !important
